# --- data: keep folder, ignore contents ---
data/*
!data/.gitkeep

# --- output: ignore MAP_ files anywhere ---
output/**/MAP_*

# --- output: ignore AIR SLAM MAPS ---
output/**/AirSLAM_mapv0*

# ignore this specific folder entirely
output/MAST3R/test_0/keyframes/

# optional: other junk you may not want
*.log
*.tmp
__pycache__/
*.pyc
